[user]
  email = brunson.ws@gmail.com
  name = Shane Brunson
[credential]
  helper = osxkeychain

# Work Config
[includeIf "gitdir:~/workspace/internal"]
  path = ~/.gitconfig-internal
[includeIf "gitdir:~/workspace/one-paypal"]
  path = ~/.gitconfig-one-paypal
# [url "https://github.com"]
#   insteadof = ssh://git@github.com
# [url "https://github.com/"]
#   insteadof = git@github.com:
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = vim
[credential "https://github.paypal.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
